.usersPhoto {
    width: 100px;
    height: 100px;
}

.users {
    display: flex;
    justify-content: space-between;
}

.users_block {
    padding: 20px;
    width: 20%;
}

.users_info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.users_name {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.users_list {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.users_list span {
    display: block;
    cursor: pointer;
    padding-right: 5px;
    font-size: 18px;
}


.selected_page {
    font-weight: 700;
    color: #0068a5;
}