.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_list {
    padding: 10px;
}

.dialogs_list.active {
    color: rgb(13, 110, 194)
}

.dialog {}

.messages_list {
    padding: 10px;
}

.message {}